
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPolygonLabel" data-translate="trafficanalzyzerv2App.polygon.home.createOrEditLabel">Create or edit a Polygon</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.polygon.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.polygon.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.polygon.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.polygon.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.polygon.points" for="field_points">Points</label>
            <input type="text" class="form-control" name="points" id="field_points"
                    ng-model="vm.polygon.points"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.polygon.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.polygon.type" id="field_type">
                <option value="COUNTING" data-translate="trafficanalzyzerv2App.PolygonType.COUNTING">COUNTING</option>
                <option value="SPEED" data-translate="trafficanalzyzerv2App.PolygonType.SPEED">SPEED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.polygon.width" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                    ng-model="vm.polygon.width"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.polygon.scenario" for="field_scenario">Scenario</label>
            <select class="form-control" id="field_scenario" name="scenario" ng-model="vm.polygon.scenario" ng-options="scenario as scenario.id for scenario in vm.scenarios track by scenario.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
