<div>
    <h2 data-translate="trafficanalzyzerv2App.videoRecord.home.title">Video Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="video-record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalzyzerv2App.videoRecord.home.createLabel">
                        Create new Video Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insertDate"><span data-translate="trafficanalzyzerv2App.videoRecord.insertDate">Insert Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleType"><span data-translate="trafficanalzyzerv2App.videoRecord.vehicleType">Vehicle Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span data-translate="trafficanalzyzerv2App.videoRecord.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="speed"><span data-translate="trafficanalzyzerv2App.videoRecord.speed">Speed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="processType"><span data-translate="trafficanalzyzerv2App.videoRecord.processType">Process Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.videoRecord.video">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="line.id"><span data-translate="trafficanalzyzerv2App.videoRecord.line">Line</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direction.id"><span data-translate="trafficanalzyzerv2App.videoRecord.direction">Direction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="videoRecord in vm.videoRecords track by videoRecord.id">
                    <td><a ui-sref="video-record-detail({id:videoRecord.id})">{{videoRecord.id}}</a></td>
                    <td>{{videoRecord.insertDate | date:'medium'}}</td>
                    <td>{{videoRecord.vehicleType}}</td>
                    <td>{{videoRecord.duration}}</td>
                    <td>{{videoRecord.speed}}</td>
                    <td data-translate="{{'trafficanalzyzerv2App.ProcessType.' + videoRecord.processType}}">{{videoRecord.processType}}</td>
                    <td>
                        <a ui-sref="video-detail({id:videoRecord.video.id})">{{videoRecord.video.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="line-detail({id:videoRecord.line.id})">{{videoRecord.line.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="direction-detail({id:videoRecord.direction.id})">{{videoRecord.direction.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="video-record-detail({id:videoRecord.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="video-record.edit({id:videoRecord.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="video-record.delete({id:videoRecord.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
