
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnalyzeOrderLabel" data-translate="trafficanalzyzerv2App.analyzeOrder.home.createOrEditLabel">Create or edit a Analyze Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.analyzeOrder.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.analyzeOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrder.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.analyzeOrder.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrder.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.analyzeOrder.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrder.processDuration" for="field_processDuration">Process Duration</label>
            <input type="number" class="form-control" name="processDuration" id="field_processDuration"
                    ng-model="vm.analyzeOrder.processDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrder.videoDuration" for="field_videoDuration">Video Duration</label>
            <input type="number" class="form-control" name="videoDuration" id="field_videoDuration"
                    ng-model="vm.analyzeOrder.videoDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrder.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.analyzeOrder.state" id="field_state">
                <option value="NOT_PROCESSED" data-translate="trafficanalzyzerv2App.AnalyzeState.NOT_PROCESSED">NOT_PROCESSED</option>
                <option value="STARTED" data-translate="trafficanalzyzerv2App.AnalyzeState.STARTED">STARTED</option>
                <option value="PROCESSED" data-translate="trafficanalzyzerv2App.AnalyzeState.PROCESSED">PROCESSED</option>
                <option value="COMPLETED" data-translate="trafficanalzyzerv2App.AnalyzeState.COMPLETED">COMPLETED</option>
                <option value="ERROR" data-translate="trafficanalzyzerv2App.AnalyzeState.ERROR">ERROR</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.analyzeOrder.video" for="field_video">Video</label>
            <select class="form-control" id="field_video" name="video" ng-model="vm.analyzeOrder.video" ng-options="video as video.id for video in vm.videos track by video.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.analyzeOrder.scenario" for="field_scenario">Scenario</label>
            <select class="form-control" id="field_scenario" name="scenario" ng-model="vm.analyzeOrder.scenario" ng-options="scenario as scenario.id for scenario in vm.scenarios track by scenario.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.analyzeOrder.orderDetails" for="field_orderDetails">Order Details</label>
            <select class="form-control" id="field_orderDetails" name="orderDetails" ng-model="vm.analyzeOrder.orderDetails" ng-options="analyzeOrderDetails as analyzeOrderDetails.id for analyzeOrderDetails in vm.analyzeorderdetails track by analyzeOrderDetails.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
