<div>
    <h2 data-translate="trafficanalzyzerv2App.analyzeOrder.home.title">Analyze Orders</h2>
    <jhi-alert></jhi-alert>
   
    <br/>
    <div class="container-fluid">
    	<div class="form-group">
            <label data-translate="trafficanalzyzerv2App.video.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.location" ng-options="location as location.name+'-'+location.description for location in vm.locations track by location.id">
                <option value=""></option>
            </select>
        </div>
    	<div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.video.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.video.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        
     </div>
     <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                
                <button  class="btn btn-primary" ng-click="vm.search()">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="trafficanalzyzerv2App.analyzeOrder.search"></span>
                </button>
                <button class="btn btn-primary" ui-sref="analyze-order.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalzyzerv2App.analyzeOrder.home.createLabel">
                        Create new Analyze Order
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
           <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th style="column-width:300px;white-space: normal;" jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="trafficanalzyzerv2App.analyzeOrder.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scenario.id"><span data-translate="trafficanalzyzerv2App.analyzeOrder.scenario">Scenario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    <th width="50" jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.analyzeOrder.video">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th width="10" jh-sort-by="scenario.id"><span data-translate="trafficanalzyzerv2App.video.location">Scenario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.video.startDate">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.video.endDate">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.startDate">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.endDate">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.processDuration">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.videoDuration">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderDetails.id"><span data-translate="trafficanalzyzerv2App.analyzeOrder.orderDetails">Order Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="analyzeOrder in vm.analyzeOrders track by analyzeOrder.id">
                    <td><a ui-sref="analyze-order-detail({id:analyzeOrder.id})">{{analyzeOrder.id}}</a></td>
                    <td data-translate="{{'trafficanalzyzerv2App.AnalyzeState.' + analyzeOrder.orderDetails.state}}">{{analyzeOrder.orderDetails.state}}</td>
                    <td>
                        <a ui-sref="scenario.preview({id:analyzeOrder.scenario.id})">{{analyzeOrder.scenario.name}}</a>
                    </td>
                    
                    <td width="50%">
                        <a ui-sref="video-detail({id:analyzeOrder.video.id})">
                        {{analyzeOrder.video.name.replaceAll("\\"," ")}}
                        </a>
                    </td>
                    <td width="10%">
                        {{analyzeOrder.video.location.name}}-{{analyzeOrder.video.location.description}}
                    </td>
                    <td>
                        {{analyzeOrder.video.startDate | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td>
                       {{analyzeOrder.video.endDate | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td>
                        {{analyzeOrder.orderDetails.startDate | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td>
                       {{analyzeOrder.orderDetails.endDate | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td>
                       {{analyzeOrder.orderDetails.processDuration}}
                    </td>
                    <td>
                       {{analyzeOrder.orderDetails.videoDuration}}
                    </td>
                    
                    <td>
                        <a ui-sref="analyze-order-details-detail({id:analyzeOrder.orderDetails.id})">{{analyzeOrder.orderDetails.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            
                            <button type="submit"
                                    ui-sref="analyze-order.result({id:analyzeOrder.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.viewReport"></span>
                            </button>
<!--                             <button type="submit" -->
<!--                                     ui-sref="analyze-order.player({id:analyzeOrder.id})" -->
<!--                                     class="btn btn-success btn-sm"> -->
<!--                                 <span class="glyphicon glyphicon-eye-open"></span> -->
<!--                                 <span class="hidden-sm-down" data-translate="entity.action.play"></span> -->
<!--                             </button> -->
<!--                            <button type="submit" ng-click="vm.play(analyzeOrder)" -->
<!--                                     class="btn btn-primary btn-sm"> -->
<!--                                 <span class="glyphicon glyphicon-eye-open"></span> -->
<!--                                 <span class="hidden-sm-down" data-translate="entity.action.play"></span> -->
<!--                             </button> -->
<!--                             <button type="submit" -->
<!--                                     ui-sref="analyze-order.edit({id:analyzeOrder.id})" -->
<!--                                     class="btn btn-primary btn-sm"> -->
<!--                                 <span class="glyphicon glyphicon-pencil"></span> -->
<!--                                 <span class="hidden-sm-down" data-translate="entity.action.edit"></span> -->
<!--                             </button> -->
                            <button type="submit"
                                    ui-sref="analyze-order.delete({id:analyzeOrder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                             <button type="submit"
                                    ui-sref="analyze-order.log({id:analyzeOrder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" >Log</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" 
                                                   ng-model="vm.page" ng-change="vm.transition()">
         </uib-pagination>
    </div>
</div>
