<div>
    <h2 data-translate="trafficanalzyzerv2App.analyzeOrderDetails.home.title">Analyze Order Details</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="analyze-order-details.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalzyzerv2App.analyzeOrderDetails.home.createLabel">
                        Create new Analyze Order Details
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sessionId"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.sessionId">Session Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="videoPath"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.videoPath">Video Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="count"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.count">Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classes"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.classes">Classes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="directions"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.directions">Directions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="speed"><span data-translate="trafficanalzyzerv2App.analyzeOrderDetails.speed">Speed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="analyzeOrderDetails in vm.analyzeOrderDetails track by analyzeOrderDetails.id">
                    <td><a ui-sref="analyze-order-details-detail({id:analyzeOrderDetails.id})">{{analyzeOrderDetails.id}}</a></td>
                    <td>{{analyzeOrderDetails.sessionId}}</td>
                    <td>{{analyzeOrderDetails.videoPath}}</td>
                    <td>{{analyzeOrderDetails.count}}</td>
                    <td>{{analyzeOrderDetails.classes}}</td>
                    <td>{{analyzeOrderDetails.directions}}</td>
                    <td>{{analyzeOrderDetails.speed}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="analyze-order-details-detail({id:analyzeOrderDetails.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="analyze-order-details.edit({id:analyzeOrderDetails.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="analyze-order-details.delete({id:analyzeOrderDetails.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
