
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnalyzeOrderDetailsLabel" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.home.createOrEditLabel">Create or edit a Analyze Order Details</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.analyzeOrderDetails.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.analyzeOrderDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.sessionId" for="field_sessionId">Session Id</label>
            <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                    ng-model="vm.analyzeOrderDetails.sessionId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.videoPath" for="field_videoPath">Video Path</label>
            <input type="text" class="form-control" name="videoPath" id="field_videoPath"
                    ng-model="vm.analyzeOrderDetails.videoPath"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.count" for="field_count">Count</label>
                <input type="checkbox" name="count" id="field_count"
                          ng-model="vm.analyzeOrderDetails.count"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.classes" for="field_classes">Classes</label>
                <textarea class="form-control" name="classes" id="field_classes"
                    ng-model="vm.analyzeOrderDetails.classes" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.directions" for="field_directions">Directions</label>
                <textarea class="form-control" name="directions" id="field_directions"
                    ng-model="vm.analyzeOrderDetails.directions" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.speed" for="field_speed">Speed</label>
                <textarea class="form-control" name="speed" id="field_speed"
                    ng-model="vm.analyzeOrderDetails.speed" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.jsonData" for="field_jsonData">Json Data</label>
                <textarea class="form-control" name="jsonData" id="field_jsonData"
                    ng-model="vm.analyzeOrderDetails.jsonData" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.errorMessage" for="field_errorMessage">Error Message</label>
            <input type="text" class="form-control" name="errorMessage" id="field_errorMessage"
                    ng-model="vm.analyzeOrderDetails.errorMessage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.analyzeOrderDetails.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.analyzeOrderDetails.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.processDuration" for="field_processDuration">Process Duration</label>
            <input type="number" class="form-control" name="processDuration" id="field_processDuration"
                    ng-model="vm.analyzeOrderDetails.processDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.videoDuration" for="field_videoDuration">Video Duration</label>
            <input type="number" class="form-control" name="videoDuration" id="field_videoDuration"
                    ng-model="vm.analyzeOrderDetails.videoDuration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.analyzeOrderDetails.state" id="field_state">
                <option value="NOT_STARTED" data-translate="trafficanalzyzerv2App.AnalyzeState.NOT_STARTED">NOT_STARTED</option>
                <option value="STARTED" data-translate="trafficanalzyzerv2App.AnalyzeState.STARTED">STARTED</option>
                <option value="ANALYZE_COMPLETED" data-translate="trafficanalzyzerv2App.AnalyzeState.ANALYZE_COMPLETED">ANALYZE_COMPLETED</option>
                <option value="PROCESS_COMPLETED" data-translate="trafficanalzyzerv2App.AnalyzeState.PROCESS_COMPLETED">PROCESS_COMPLETED</option>
                <option value="ERROR" data-translate="trafficanalzyzerv2App.AnalyzeState.ERROR">ERROR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.analyzeOrderDetails.showVisulationWindow" for="field_showVisulationWindow">Show Visulation Window</label>
                <input type="checkbox" name="showVisulationWindow" id="field_showVisulationWindow"
                          ng-model="vm.analyzeOrderDetails.showVisulationWindow"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
