
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDirectionLabel" data-translate="trafficanalzyzerv2App.direction.home.createOrEditLabel">Create or edit a Direction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.direction.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.direction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.direction.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.direction.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.direction.pathCoordinates" for="field_pathCoordinates">Path Coordinates</label>
            <input type="text" class="form-control" name="pathCoordinates" id="field_pathCoordinates"
                    ng-model="vm.direction.pathCoordinates"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.direction.scenario" for="field_scenario">Scenario</label>
            <select class="form-control" id="field_scenario" name="scenario" ng-model="vm.direction.scenario" ng-options="scenario as scenario.id for scenario in vm.scenarios track by scenario.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.direction.startLine" for="field_startLine">Start Line</label>
            <select class="form-control" id="field_startLine" name="startLine" ng-model="vm.direction.startLine" ng-options="line as line.id for line in vm.lines track by line.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.direction.endLine" for="field_endLine">End Line</label>
            <select class="form-control" id="field_endLine" name="endLine" ng-model="vm.direction.endLine" ng-options="line as line.id for line in vm.lines track by line.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
