<div>
    <h2 data-translate="trafficanalzyzerv2App.scenario.home.title">Scenarios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="scenario.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalzyzerv2App.scenario.home.createLabel">
                        Create new Scenario
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="trafficanalzyzerv2App.scenario.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="screenShot"><span data-translate="trafficanalzyzerv2App.scenario.screenShot">Screen Shot</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="video.id"><span data-translate="trafficanalzyzerv2App.scenario.video">Video</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scenario in vm.scenarios track by scenario.id">
                    <td><a ui-sref="scenario-detail({id:scenario.id})">{{scenario.id}}</a></td>
                    <td>{{scenario.name}}</td>
                    <td>
                        <a ng-if="scenario.screenShot" ng-click="vm.openFile(scenario.screenShotContentType, scenario.screenShot)">
                            <img data-ng-src="{{'data:' + scenario.screenShotContentType + ';base64,' + scenario.screenShot}}" style="max-height: 30px;" alt="scenario image"/>
                        </a>
                        <span ng-if="scenario.screenShot">{{scenario.screenShotContentType}}, {{vm.byteSize(scenario.screenShot)}}</span>
                    </td>
                    <td>
                        <a ui-sref="video-detail({id:scenario.video.id})">{{scenario.video.id}}</a>
                    </td>
<td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="scenario.edit({id:scenario.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.polygon"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scenario.edit.line({id:scenario.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.line"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scenario.edit.speed({id:scenario.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.speed"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scenario.edit.direction({id:scenario.id})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.direction"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scenario.delete({id:scenario.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
