<div>
    <h2 data-translate="trafficanalzyzerv2App.line.home.title">Lines</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="line.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trafficanalzyzerv2App.line.home.createLabel">
                        Create new Line
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="trafficanalzyzerv2App.line.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startPointX"><span data-translate="trafficanalzyzerv2App.line.startPointX">Start Point X</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startPointY"><span data-translate="trafficanalzyzerv2App.line.startPointY">Start Point Y</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endPointX"><span data-translate="trafficanalzyzerv2App.line.endPointX">End Point X</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endPointY"><span data-translate="trafficanalzyzerv2App.line.endPointY">End Point Y</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scenario.id"><span data-translate="trafficanalzyzerv2App.line.scenario">Scenario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startPolygon.id"><span data-translate="trafficanalzyzerv2App.line.startPolygon">Start Polygon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endPolygon.id"><span data-translate="trafficanalzyzerv2App.line.endPolygon">End Polygon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedPolygon.id"><span data-translate="trafficanalzyzerv2App.line.calculatedPolygon">Calculated Polygon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="line in vm.lines track by line.id">
                    <td><a ui-sref="line-detail({id:line.id})">{{line.id}}</a></td>
                    <td>{{line.name}}</td>
                    <td>{{line.startPointX}}</td>
                    <td>{{line.startPointY}}</td>
                    <td>{{line.endPointX}}</td>
                    <td>{{line.endPointY}}</td>
                    <td>
                        <a ui-sref="scenario-detail({id:line.scenario.id})">{{line.scenario.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="polygon-detail({id:line.startPolygon.id})">{{line.startPolygon.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="polygon-detail({id:line.endPolygon.id})">{{line.endPolygon.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="polygon-detail({id:line.calculatedPolygon.id})">{{line.calculatedPolygon.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="line-detail({id:line.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="line.edit({id:line.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="line.delete({id:line.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
