
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLineLabel" data-translate="trafficanalzyzerv2App.line.home.createOrEditLabel">Create or edit a Line</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.line.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.line.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.line.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.line.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.line.startPointX" for="field_startPointX">Start Point X</label>
            <input type="number" class="form-control" name="startPointX" id="field_startPointX"
                    ng-model="vm.line.startPointX"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.line.startPointY" for="field_startPointY">Start Point Y</label>
            <input type="number" class="form-control" name="startPointY" id="field_startPointY"
                    ng-model="vm.line.startPointY"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.line.endPointX" for="field_endPointX">End Point X</label>
            <input type="number" class="form-control" name="endPointX" id="field_endPointX"
                    ng-model="vm.line.endPointX"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trafficanalzyzerv2App.line.endPointY" for="field_endPointY">End Point Y</label>
            <input type="number" class="form-control" name="endPointY" id="field_endPointY"
                    ng-model="vm.line.endPointY"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.line.scenario" for="field_scenario">Scenario</label>
            <select class="form-control" id="field_scenario" name="scenario" ng-model="vm.line.scenario" ng-options="scenario as scenario.id for scenario in vm.scenarios track by scenario.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trafficanalzyzerv2App.line.direction" for="field_direction">Direction</label>
            <select class="form-control" id="field_direction" name="direction" ng-model="vm.line.direction" ng-options="direction as direction.id for direction in vm.directions track by direction.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
